.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	background-color: #121212;
	align-items: center;
	flex-direction: column;
}

.card-container {
	margin: 10%;
}

.card {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.card > .header {
	text-align: center;
	font-size: 30px;
	font-weight: medium;
}

.card > .info {
	margin-top: 1rem;
}

.form {
	display: flex;
	flex-direction: column;
}

.form #submit {
	margin-top: 2rem;
	padding: 5px;
	color: white;
	border: none;
	font-size: 16px;
	border-radius: 3px;
	cursor: pointer;
	background-color: var(--secondary);
}

.form #submit:hover {
	background-color: var(--secondary-variant);
}
