.map-filter {
	float: right;
	border: 2px solid rgba(0, 0, 0, 0.2);
	margin-left: 20px;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	z-index: 800;
	pointer-events: auto;
	border-radius: 4px;
}

.leaflet-div-icon {
	background: none;
	border: none;
}

.col {
	flex-direction: column;
}

.map-filter > .filter:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.map-filter > .filter:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.map-filter > .filter {
	font-size: 15px;
	background-color: #fff;
	height: 30px;
	width: 30px;
	border-right: 1px solid #ccc;
	cursor: pointer;
	display: flex;
}

.map-filter > .select {
	font-size: 14px;
	background-color: #fff;
	height: 30px;
	width: 80px;
	border-right: 1px solid #ccc;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
}

.select-options {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.select-options > .box {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 12px;
	background-color: #fff;
	height: 20px;
	width: 80px;
	border-right: 1px solid #ccc;
	cursor: pointer;
	border-top: 1px solid #ccc;
	color: black;
}

.map-filter > .filter:hover,
.map-filter > .select:hover {
	background-color: #f6f6f6;
}

.filter > *,
.select > * {
	margin: auto;
}

.filter > *.active > * {
	fill: black;
}

img[role="presentation"] {
	filter: grayscale(100%) opacity(0.6);
}

.marker {
	border-radius: 50%;
	height: 20px;
	width: 20px;
	background-color: white;
	margin: auto;
	border: 1px solid grey;
	color: black;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 10px;
	line-height: 20px;
	transform: translate(-30%, 0);
}

.marker.transit {
	height: 8px;
	width: 8px;
	border: 2px solid var(--pipeline);
}

.marker.sbb {
	height: 10px;
	width: 10px;
	border: 2px solid var(--train);
}

.marker.port {
	height: 10px;
	width: 10px;
	border: 2px solid var(--ship);
}

.marker.storage {
	height: 14px;
	width: 14px;
	border: 3px solid var(--background2);
}

.marker.chemical {
	background-color: #97e196;
}

.marker.cement {
	background-color: #d3f2a3;
}

.marker.ccs {
	border: 0.4px solid rgba(0, 0, 0, 0.2);
	background-color: var(--ccs);
	padding: 0;
	margin: 0;
}
.marker.pemec {
	border: 0.4px solid rgba(0, 0, 0, 0.2);
	background-color: var(--pemec);
	padding: 0;
	margin: 0;
}
.marker.hpr {
	border: 0.4px solid rgba(0, 0, 0, 0.2);
	background-color: var(--hpr);
	padding: 0;
	margin: 0;
}
.marker.smrccs_pp {
	border: 0.4px solid rgba(0, 0, 0, 0.2);
	background-color: var(--smrccs_pp);
	padding: 0;
	margin: 0;
}
.marker.smr {
	border: 0.4px solid rgba(0, 0, 0, 0.2);
	background-color: var(--smr);
	padding: 0;
	margin: 0;
}

.marker img {
	filter: grayscale(100%) opacity(0);
}

.ic-pipeN {
	margin: 5px;
	width: 9px;
	height: 9px;
	background-color: #074050;
}

.ic-pipeL {
	margin: 0 2px;
	width: 15px;
	border-bottom: 3px solid #074050;
}

.ic-pipeM {
	margin: 0 2px;
	width: 15px;
	border-bottom: 2px solid #105965;
}

.ic-pipeS {
	margin: 0 2px;
	width: 15px;
	border-bottom: 1px solid #217a79;
}

.ic-cement {
	margin: 4px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: #d3f2a3;
}

.ic-chemical {
	margin: 4px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: #97e196;
}

.ic-wte {
	margin: 4px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: #6cc08b;
}

.popup .title {
	font-size: 13px;
	color: #474757;
}
