.result-container {
	padding: 32px 0px;
	width: 100%;
	color: var(--text);
}

.result-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.result-header *:first-child {
	flex-grow: 1;
}

#downloadmap {
	font-size: 12px;
	padding: 6px 10px;
	border-radius: 3px;
	background-color: var(--background2);
	opacity: 0.8;
	cursor: pointer;
	transition: 0.2s;
}

#downloadmap:hover {
	opacity: 1;
}

.tableOfContents {
	position: fixed;
	border-left: 1px solid #dadde1;
	padding: 8px;
	font-size: 12px;
}

.contents {
	display: flex;
	flex-direction: column;
}

.contents > a {
	padding: 6px;
	text-decoration: none;
	color: var(--text);
}

.contents > a:hover {
	color: var(--secondary);
	cursor: pointer;
}

.w-100 {
	width: 100;
}

.h-400 {
	height: 400px;
}

table {
	font-weight: 400;
	text-align: left;
}

table tr th {
	font-weight: 700;
	font-size: 14px;
	color: var(--text-variant2);
	text-align: left;
}

textarea {
	width: 100%;
	border-radius: 3px;
	background-color: #1e2125;
	outline: none;
	border: none;
	padding: 10px;
	resize: vertical;
	color: white;
	height: 150px;
	font-size: 15px;
}

.legend {
	text-decoration: none;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.legend li {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px 5px;
}

.legend li .line {
	opacity: 1;
	width: 20px;
	margin: 4px;
}

.legend li .line.truck {
	border-bottom: 3px solid var(--truck);
}

.legend li .line.train {
	border-bottom: 3px solid var(--train);
}

.legend li .line.barge {
	border-bottom: 3px solid var(--barge);
}

.legend li .line.pipeline {
	border-bottom: 3px solid var(--pipeline);
}

.legend li .line.ship {
	border-bottom: 3px solid var(--ship);
}

.legend li .line.woodt {
	border-bottom: 3px solid var(--woodt);
}

.legend li .line.hydrogent {
	border-bottom: 3px solid var(--hydrogent);
}

.legend .mode:nth-last-child(2) {
	flex-grow: 1;
}

.year-slider {
	margin: 0 8px;
	-webkit-appearance: none;
	height: 5px;
	border-radius: 5px;
	background: #424242;
	outline: none;
	-webkit-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
}

.year-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: var(--secondary);
	cursor: pointer;
}

.year-slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: var(--secondary);
	cursor: pointer; /* Cursor on hover */
}

.year-value {
	width: 40px;
	text-align: right;
}

div[data-state="false"] {
	color: #a3a3a3;
}

#in_result_name {
	outline: none;
}

.info {
	font-size: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #222222;
}

.info .icon {
	height: 10px;
	width: 10px;
	margin: 0 4px;
}

.flows {
	text-decoration: none;
	list-style: none;
	margin-top: 0px;
	font-size: 12px;
}

.flows .flow {
	font-size: 16px;
	font-weight: bold;
	margin-right: 5px;
	margin-left: 5px;
}

.flow.truck {
	color: var(--truck);
}

.flow.train {
	color: var(--train);
}

.flow.barge {
	color: var(--barge);
}

.flow.ship {
	color: var(--ship);
}

.flow.default {
	margin-left: 8px;
	margin-right: 7px;
}

.flow.pipeline {
	color: var(--pipeline);
}

.evt-type-selector {
	z-index: 1000;
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 2px;
	height: 30px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

.risk-menu {
	z-index: 1000;
	position: absolute;
	padding: 0px 10px;
	top: 20px;
	right: 20px;
	border-radius: 3px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-color: #fff;
	color: black;
	font-size: 14px;
	display: flex;
	align-items: center;
}

.close {
	position: absolute;
	top: 0px;
	right: 3px;
	color: #555;
	cursor: pointer;
}

.risk-table {
	margin: 4px 0px;
	margin-top: 10px;
	margin-right: 14px;
}

.risk-table * {
	text-align: center;
}

.risk-table th {
	font-size: 10px;
	margin: 4px 4px;
	cursor: pointer;
}

.risk-table td {
	font-size: 12px;
}

.risk-table td,
.risk-table th {
	padding: 0px 5px;
}

.risk-table th.active {
	background-color: var(--secondary);
	border-radius: 2px;
	color: black;
}

.risk-table th:not(.active):hover {
	color: #555;
}

.red {
	color: red;
}
.green {
	color: green;
}

.close {
	color: black;
	cursor: pointer;
	margin: 0 5px;
}
.close:hover {
	color: #555;
}

.notification {
	z-index: 1000;
	position: absolute;
	bottom: 20px;
	min-width: 300px;
	max-height: 100px;
	padding: 10px 20px;
	border: 1px solid rgba(212, 212, 212, 0.8);
	background-color: #fff;
	border-radius: 2px;
	color: #1e2125;
	text-align: center;
	opacity: 0.9;
	left: 50%;
	transform: translate(-50%, 0);
	cursor: pointer;
	user-select: none;
	animation-name: notifyin;
	animation-duration: 0.4s;
}

.notification.out {
	animation-name: notifyout;
	animation-duration: 0.8s;
}

@keyframes notifyin {
	from {
		bottom: -100px;
	}
	to {
		bottom: 20px;
	}
}

@keyframes notifyout {
	from {
		bottom: 20px;
	}
	to {
		bottom: -100px;
	}
}
