* {
	box-sizing: border-box;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	scrollbar-width: none !important;

	--primary: #6200ee;
	--primary-variant: #3700b3;
	--secondary: #03dac6;
	--secondary-variant: #018786;
	--text: #f5f6f7;
	--text-variant: #dadde1;
	--text-variant2: #aaada1;
	--background1: #1e2125;
	--background2: #1f2933;

	--train: #a8322d;
	--pipeline: #218380;
	--brownfield: #795548;
	--truck: #535353;
	--ccs: #fbb13c;
	--pemec: #71afff;
	--hpr: #3e962b;
	--smrccs_pp: #7e018f57;
	--smr: #272727;
	--ship: #2e5eaa;
	--barge: #60bfff;
	--greenfield: #218380;
	--woodt: #f1a100;
	--hydrogent: #3e962b;
}

body {
	margin: 0;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 3.75rem;
	width: 100%;
	background-color: #1e2125;
	box-sizing: border-box;
	box-shadow: #1e2125;
	color: var(--text);
	padding: 1rem 1rem 1rem 1rem;
	font-size: 17px;
	z-index: 9000;
}
h1,
h2,
h3 {
	padding: 0;
	margin: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

main {
	display: flex;
	width: 100%;
}
input[type="text"],
input[type="password"] {
	background-color: var(--background2);
	border-radius: 3px;
	padding: 8px;
	outline: none;
	border: none;
	color: white;
	font-size: 15px;
}

.nav {
	display: flex;
	height: 100%;
	width: 100%;
}

#map {
	width: 100%;
	height: 100%;
}

.main-wrapper {
	flex: 0 1 auto;
	margin-top: 3.75rem;
	background-color: #121212;
}

.page {
	display: flex;
}

.container {
	width: 100%;
	padding: 1rem 2rem;
	color: var(--text);
}

.container section {
	min-height: 400px;
	margin-bottom: 2rem;
}

.sidebar {
	position: sticky;
	box-sizing: border-box;
	min-width: 100px;
	max-width: 300px;
	width: 20vw;
	height: calc(100vh - 3.75rem);
	border-right: 1px solid #606770;
	padding: 0.5rem;
	top: 3.75rem;
	overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
	width: 0px;
}

.menu {
	color: var(--text-variant);
	display: flex;
	flex-direction: column;
}

.menu-item {
	font-size: 17px;
	padding: 0.8rem 1.5rem;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
	color: var(--text-variant);
}

.menu-item.active {
	color: var(--secondary);
}

.menu-item:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

.list {
	font-size: 15px;
	margin: 0;
	padding-left: 1.5rem;
	list-style: none;
	overflow: hidden;
}

.list * {
	text-decoration: none;
}

.list-item {
	padding: 0.5rem 1rem;
	cursor: pointer;
	text-decoration: none;
	border-radius: 3px;
	font-size: 14px;
}

.list-item > a {
	color: var(--text-variant);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.list-item > a > pre {
	color: var(--text-variant2);
	font-size: 10px;
	margin: 0;
	padding: 0;
	line-height: 14px;
	margin-left: 5px;
}

.list-item:hover {
	background-color: rgba(255, 255, 255, 0.02);
}

.over-hidden {
	overflow: hidden;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.row .col {
	display: block;
	flex: 1 0;
	margin-left: 0;
	max-width: 100%;
	padding-left: 1rem;
	padding-left: var(--ifm-spacing-horizontal);
	padding-right: 1rem;
	padding-right: var(--ifm-spacing-horizontal);
	width: 100%;
	overflow-y: auto;
}

.row .col.col--3 {
	max-width: 25%;
}

.pt-0 {
	padding-top: 0px;
}

.px-l {
	padding: 0rem 6vw;
}

.sticky {
	position: sticky;
	top: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.secondary {
	color: var(--secondary);
}

.flex-end {
	align-items: flex-end;
}

.just-end {
	justify-content: flex-end;
}

.f-g1 {
	flex-grow: 1;
}

.btn {
	cursor: pointer;
	user-select: none;
}
.btn:hover {
	opacity: 0.9;
}

.btn-small {
	cursor: pointer;
	user-select: none;
	font-size: 10px;
	border-radius: 2px;
	padding: 2px;
	margin-top: 3px;
}

.small {
	font-size: 10px;
	color: var(--text-variant);
}

.no-style {
	text-decoration: none;
	color: inherit;
	outline: none;
}

.data-table {
	border-spacing: 0px;
}

.data-table th,
.data-table td {
	padding: 5px 5px;
}

.data-table tr:hover {
	background-color: rgba(255, 255, 255, 0.04);
	border-radius: 3px;
}

.data-table td {
	max-width: 200px;
}

.btn-red {
	background-color: #ee2222;
	color: white;
	padding: 5px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.btn-red:hover {
	background-color: #aa1111;
}

#drop_zone {
	text-align: center;
	height: 100px;
	width: 400px;
	border-radius: 3px;
	border: 3px dashed var(--background1);
	font-size: 14px;
	color: var(--text-variant);
	padding-top: 30px;
}

#drop_zone * {
	pointer-events: none;
}

file {
	background-color: var(--text-variant);
	padding: 2px 4px;
	border-radius: 3px;
	color: var(--background1);
}
button.submit {
	margin-top: 2rem;
	padding: 5px;
	color: white;
	border: none;
	font-size: 16px;
	border-radius: 3px;
	cursor: pointer;
	background-color: var(--secondary);
}
button.submit:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}
