{% extends "base.html" %} {% block content %}

<script>
	const all_data = [];
</script>

<div class="container">
	<section class="all">
		<h1 class="mt-0">All results</h1>
		<table style="width: 100%" class="data-table">
			<tr>
				<th>Author</th>
				<th>Name</th>
				<th>Date</th>
				<th>Year</th>
				<th>Horizon</th>
				<th>CO2 Tax</th>
				<th>Total Costs</th>
				<th>Emissions</th>
				<th>LCOC</th>
			</tr>
			{% for res in results %}

			<tr>
				<td>{{res["author"]}}</td>
				<td>
					<a class="no-style" href="/results/{{res['id']}}">{{res['name']}}</a>
				</td>
				<td>{{res['uploaded'].split("T")[0]}}</td>
				<td>{{res['data'].get('year','-')}}</td>
				<td>{{res['data'].get('horizon','-')}}</td>
				<td>{{res['data'].get('CO2tax','-')}}</td>
				<td>{{"{:.2e}".format(res['data'].get('total_costs',0))}}</td>
				<td>{{"{:.2e}".format(res['data'].get('emissions',0))}}</td>
				<td>{{"{:.2e}".format(res['data'].get('LCOC',0))}}</td>
			</tr>
			{% endfor %}
		</table>
	</section>
</div>

{% endblock %}
