<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CCS Visualisation</title>

		<script src="/static/lib/leaflet.js"></script>
		<script src="/static/lib/Leaflet.polylineoffset.js"></script>
		<script src="/static/lib/Leaflet.fullscreen.js"></script>
		<script src="/static/lib/Leaflet.textpath.js"></script>
		<script src="/static/lib/Leaflet.image.js"></script>
		<script src="/static/lib/d3.v5.min.js"></script>
		<script src="/static/lib/Chart.min.js"></script>

		<link rel="stylesheet" href="/static/lib/leaflet.css"/>
		<link rel="stylesheet" href="/static/lib/leaflet.fullscreen.css"/>
		<link rel="stylesheet" href="/static/style.css" />
		<link rel="stylesheet" href="/static/map.css" />
		<link rel="stylesheet" href="/static/result.css" />
	</head>
	<script src="/static/utils.js"></script>
	<body>
		<nav>
			<div class="nav">
				<div>CCS Dashboard</div>
			
			</div>
		</nav>
		<div class="main-wrapper">
			<div class="page">
				
				<div class="sidebar">
					<div class="menu">
						{% if highlight == "upload" %}
						<a class="menu-item active" href="/upload">Upload</a>
						{% else %}
						<a class="menu-item" href="/upload">Upload</a>
						{% endif %} {% if highlight == "results" %}
						<div class="menu-item active" data-toggle="list_results">
							Results
						</div>
						<ul class="list" id="list_results" style="">
						{% else %}
						<div class="menu-item" data-toggle="list_results">Results</div>
						<ul class="list" id="list_results" style="max-height: 0px">
						{% endif %}

						<li class="list-item">
							<a href="/">
								{% if not result and highlight=="results" %}
								<span class="secondary">All</span>
								{% else %}
								<span >All</span>
								{% endif %}
							</a>
						</li>
						{% for res in results[:15] %}
							<li class="list-item">
								<a href="/results/{{res['id']}}">
									{% if result and res["id"] == result["id"] %}
									<span class="secondary" id='current_result'>{{res["name"]}}</span>
									{% else %}
									<span>{{res["name"]}}</span>
									{% endif %}
									
								</a>
							</li>
						{% endfor %}
						</ul>
						{% if highlight == "settings" %}
						<div class="menu-item active">Settings</div>
						{% else %}
						<div class="menu-item">Settings</div>
						{% endif %}
					</div>
				</div>
				

				<main>{% block content %} {% endblock %}</main>
			</div>
		</div>

		

	</body>
	<script src="/static/base.js"></script>

</html>
