<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CCS - Dashboard</title>

		<link rel="stylesheet" href="/static/style.css" />
		<link rel="stylesheet" href="/static/auth.css" />
	</head>
	<body>
		<div class="container">
			<div class="card-container">
				<div class="card">
					<div class="header">CCS Dashboard</div>
					{% with messages = get_flashed_messages() %} {% if messages %}
					<div class="info">{{messages[0]}}</div>
					{% endif %} {% endwith %}

					<div class="body">
						<form class="form" action="/login" method="post">
							<h3>Username</h3>
							<input name="username" placeholder="Enter username" type="text" />
							<h3>Password</h3>
							<input
								name="password"
								placeholder="Enter password"
								type="password"
							/>

							<button class="submit" type="submit">Log In</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
