{% extends "base.html" %} {% block content %}
<script src="/static/lib/d3.v6.js"></script>
<script src="/static/lib/turf.min.js"></script>
<script src="/static/dlmap.js"></script>
<script src="/static/resultmap.js"></script>
<script>
	const resultDbId = "{{ result['id'] }}";
</script>

<div class="result-container">
	<div class="container pt-0 px-l">
		<section id="summary">
			<div class="result-header">
				<h1 class="mt-0 no-style" id="input_name" contenteditable="true">
					{{result["name"]}}
				</h1>
				<div id="downloadmap">Static map</div> 
			</div>

			<div id="small_map" class="w-100 h-400"></div>

			<h2>Summary</h2>
			<table style="width: 100%">
				<tr>
					<th>Date</th>
					<th>Objective</th>

					<th>Starting year</th>
					<th>Horizon</th>
				</tr>
				<tr>
					<td>{{result['uploaded']}}</td>
					<td>{{result['data']['task']}}</td>

					<td>{{result['data']['start']}}</td>
					<td>{{result['data']['horizon']}}</td>
				</tr>
				<tr>
					<th>Total costs</th>
					<th>Emissions</th>
					<th>Captured</th>
					<th>LCOC</th>
				</tr>
				<tr>
					<td>{{result['data']['compact']['total_costs']}} CHF</td>
					<td>{{result['data']['compact']['emissions']}} tCO2</td>
					<td>{{result['data']['compact']['emissions_captured']}} tCO2</td>
					<td>{{result['data']['compact']['LCOC']}} CHF/tCO2</td>
				</tr>
			</table>
			<h3>Description</h3>
			<textarea id="input_notes">{{result['description']}}</textarea>
		</section>

		<a class="btn-red" href="../api/delete/{{ result['id'] }}">Delete</a>
	</div>
</div>
<script>
	const result_map = new ResultMap("small_map", resultDbId);
	result_map.build();
</script>
<script src="/static/result.js"></script>

{% endblock %}
