{% extends "base.html" %} {% block content %}

<div class="container">
	<section class="upload">
		<form class="form" action="/upload" method="post">
			<h1 class="mt-0">Upload a result</h1>
			<h2>Title</h2>
			<input
				type="text"
				id="title"
				name="title"
				style="width: 400px"
				required
			/>
			<h2>File</h2>
			<input type="text" name="filename" style="display: none" required />
			<div id="file_upload">
				<p>Simply drag and drop the output you would like to upload</p>
				<div id="drop_zone">
					<div class="off">
						Drop your output <file>.mat</file> or <file>.zip</file> file here to
						upload
					</div>
					<div class="on" style="display: none">Drop file to upload</div>
				</div>
			</div>
			<button style="width: 100px" class="submit">Upload</button>
		</form>
	</section>
</div>

<script src="/static/upload.js"></script>

{% endblock %}
